<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1>This is your first JS exercise</h1>
    <div>
        <input id="inputfield" type="text">
        <h4 hidden=true id="info">Thank you for changing the input to: Blank</h4>
    </div>
    <button id="btn01" onclick="clicked()">Click me</button>

    <script>
        function clicked() {
            if (sessionStorage.getItem("old_text")===""&&document.getElementById("inputfield").value===null||
                sessionStorage.getItem("old_text")===""&&document.getElementById("inputfield").value==="") {
                alert("Empty...")
                oldInput();
            } else if (document.getElementById("inputfield").value===sessionStorage.getItem("old_text")) {
                alert("Repeated...")
                oldInput();
            } else {
                newInput();
            }
        }
        function newInput() {
            document.getElementById("info").hidden = false;
            document.getElementById("info").innerHTML = "Thank you for changing the input to:<b>"+document.getElementById("inputfield").value+"</b>";
            document.getElementById("btn01").innerText = "Click Me Again!";
            sessionStorage.setItem("old_text", document.getElementById("inputfield").value);
        }
        function oldInput() {
            document.getElementById("info").hidden = true;
            document.getElementById("inputfield").value = "Change Me!";
            document.getElementById("btn01").innerText = "Change text above and click me again!";
            sessionStorage.setItem("old_text", document.getElementById("inputfield").value);
        }
    </script>
</body>
</html>